@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import "../fonts/Gilroy/stylesheet.css";
@import "swiper/css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer components {
    .box {
        @apply rounded-2xl border border-white/20 bg-primary-900;
    }

    .theme-gradient-text {
        @apply theme-gradient text-transparent bg-clip-text;
    }
    .theme-gradient {
        background: linear-gradient(248.28deg, #9e61ff 9.539999999999999%, rgba(142, 97, 255, 0) 32.8%), radial-gradient(81.70999999999999% 279.87% at -16.57% -92%, #619bff 28.69%, rgba(205, 219, 248, 0) 69.54000000000001%), #6c52ee;
    }
    .green-gradient {
        background: linear-gradient(109.6deg, rgb(0, 204, 130) 11.2%, rgb(58, 181, 46) 91.7%);
    }
    .red-gradient {
        background: linear-gradient(to right, rgb(242, 82, 103), rgb(255, 119, 114));
    }

    .form-control {
        &[type='file'] {
            @apply block w-full text-white text-xs
            file:me-4 file:py-2 file:px-4
            file:rounded-lg file:border-0
            file:text-xs file:font-semibold
            file:theme-gradient file:text-white
            hover:file:bg-blue-700
            file:disabled:opacity-50 file:disabled:pointer-events-none
        }
    }

    .accounts-swiper {
        .swiper-button-prev, .swiper-button-next {
            @apply box bg-primary-900 border-2 p-2 rounded-xl cursor-pointer select-none;
            &.swiper-button-lock {
                @apply hidden;
            }
            &.swiper-button-disabled {
                @apply opacity-50 cursor-not-allowed;
            }
        }
    }
}
